{% extends "base.html" %}

{% block content %}

<div class="content">
  <h1>Interest <span class='text-span'>Form</span></h1>
  <form action="" method="post" class="interest-form">
      <p>
        {{ form.first_name.label(class_="input-label") }}
        {{ form.first_name(size=30, class_="input") }}
      </p>
      <p>
        {{ form.last_name.label(class_="input-label") }}
        {{ form.last_name(size=30, class_="input") }}
      </p>
      <p>
        {{ form.company_name.label(class_="input-label") }}
        {{ form.company_name(size=30, class_="input") }}
      </p>
      <p>
        {{ form.email.label(class_="input-label") }}
        {{ form.email(size=30, class_="input") }}
      </p>
      {{ form.submit(class_="submit-btn") }}
  </form>
</div>


{% endblock %}